/* Soft Reset */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Body and general layout */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


/* Header section */

header {
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 40px 20px; 
    border-bottom: 5px solid #555; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header h1 {
    font-size: 3em; 
    margin-bottom: 10px;
    font-weight: 600; 
}

header p {
    font-size: 1.2em;
    color: #ccc;
    font-weight: 400;
    margin-top: 10px;
}

/* Main section */

main {
    max-width: 900px;
    margin: 30px auto; 
    padding: 30px;
    background-color: white; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    transition: box-shadow 0.3s ease; 
}

main:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


section h2 {
    font-size: 2em; 
    margin-bottom: 15px;
    color: #333; 
    font-weight: 500;
}

/* List of projects */

.projects {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.projects ul {
    padding: 10px;
    list-style: none;
}

.projects ul li {
    padding: 10px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.projects ul li:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.projects ul li a {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}


/* Footer section */

footer {
    text-align: center;
    padding: 20px 15px; 
    background-color: #333; 
    color: white;
    margin-top: 40px; 
}

footer p {
    font-size: 1.1em;
}

a {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: 3px solid #555;
    outline-offset: 3px;
}
